

<% @recipes.each do |r| %>
    
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= r.title %></h5>
    <%= link_to "SHOW", "/recipes/#{r.id}", class: "btn btn-primary" %>
    <% if @user == current_user %>                                                          <%#THIS ISN'T WORKING!ITS DOING THE OPPOSITE :|%>
    <%= link_to "DELETE RECIPE", "/recipes/#{r.id}", class: "btn btn-primary", method: "delete", data: {confirm:"ARE YOU SURE?"} %>
    <% end %>

  </div>
</div>
<% end %>

