<div id = "title-container">
<h1 id = "title">THE COOK BOOK</h1>
<h5 class = "description">If you want to store your recipes and have easy access to them, </br> 
    The Cook Book lets you do just that. Create an account and lets get started! </br> 
    <%= link_to "SIGN UP", "/users/new", class: "btn btn-primary" %> </br>
    ps - there's no way to reset your password yet, so remember it! </h5>

</div>