<html>
  <head>
 
  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            HOME
                        </span>
                    </a>
                  
                </li>
              
                <li class="has-subnav">
                    <a href="/users/new">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            SIGN UP
                        </span>
                    </a>       
                </li>
    
                <li class="has-subnav">
                        <a href="/sessions/new">
                           <i class="fa fa-list fa-2x"></i>
                            <span class="nav-text">
                                LOG IN
                            </span>
                        </a>       
                    </li>


            <ul class="logout">
                <li>
                   <a href="/logout">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>